.article-content{

  .content-heading{
    color: rgba(86,86,86,1);
    font-family: 'Kumar One';
    font-size: 1.6rem;
    max-width: 45rem;
  }

  .content-author-detail{
    font-size: 0.8rem;
    color: rgba(114,114,114,1);
  }

  .content-paragraph{
    max-width: 45rem;
  }
}