.article-list-container{
    margin-top: 20px;
    h4{ font-weight: 600;}

    
    a:hover{text-decoration: none;}

    .article-heading {
        margin: 0px 30px;
    }

    .article-group{
        .article-card {
            background: #f0f4ff;
            border: 1px solid #BFD0FF;
            box-sizing: border-box;
            border-radius: 11px;
            width: 20rem;
            z-index : 0;
            box-shadow: none;
            transition-duration: .4s;
        }

        .article-card:hover {
            background: #f0f4ff;
            box-shadow: 0px 0px 20px -2px #BFD0FF;
            border-radius: 11px;
            z-index: 100;
            transform: scale(1.03);
            transition-duration: .3s;
        }

        @media (max-width:768px) {
            .article-card {
                width: 300px;
            }
            .article-card:hover {
                transform: scale(1.02);
            }
        }
    }
}