.home-page-container {
    a:hover {
        text-decoration: none;
    }

    .header-title{
        text-align: center;
        font-size: 20px;
        font-family: 'Kumar One';
        color:#002C89;
        word-spacing: 6px;
    
    }

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.483);
        width: 100%;
        right:0;
        left: 0;

    }

    .company-list {
        .title-bar{
            width: 300px;
            margin:4px auto;
            align-content: center;
            .title{
            
            font-size: 16px;
            font-weight: 600;
            }
            a{
                font-size: 14px;
                text-decoration: underline;
            }
        }
        .list-box {

            width: 300px;
            height: 40px;
            background: #FFFFFF;
            border-radius: 11px;
            font-size: 16px;
            border: 0px;
            margin: 4px auto;
            font-weight: 400;

            &:hover {
                z-index: 1;
                background-color: #f8f9fa;
            }

            img{
                width:30px;
            }
        }
    }

    .hide-for-small{
        @media (max-width:768px) {
            display: none;
        }
    }


}