.home-page-container {
    padding : 0px 2%;
    overflow: hidden;
    a:hover {
        text-decoration: none;
    }

    .company-list{
        overflow-y: auto;
        overflow-x: hidden;
        height: 80vh;
    }
    .company-list::-webkit-scrollbar, .recentArticleCards::-webkit-scrollbar{
        width: 5px;
    }
       
    .company-list::-webkit-scrollbar-thumb,.recentArticleCards::-webkit-scrollbar{
        background: rgb(153, 153, 153); 
        border-radius: 10px;
    }
      
    .company-list::-webkit-scrollbar-thumb:hover,.recentArticleCards::-webkit-scrollbar {
        background: rgb(102, 102, 102); 
    }

    .recentArticleCards{
        overflow-y: auto;
        overflow-x: hidden;
        height: 80vh;
    }

    @media (max-width:768px){
        .company-list{
            overflow: hidden;
            height: auto;
        }
    }

    .header-title{
        text-align: center;
        font-size: 20px;
        font-family: 'Kumar One';
        color:#002C89;
        word-spacing: 6px;
    }

    .homepagePara{
        font-size: 1.1rem;
        margin-top: 8px;
        width: 90%;
    }

    @media (max-width:768px){
        .homepagePara{
            font-size: 0.75rem;
            width: 85%;
        }
    }

    .carousel-item {
        padding: 0px 15%;
    }

    .company-list {
        .title-bar{
            width: 300px;
            margin:4px auto;
            align-content: center;
            .title{
            
            font-size: 16px;
            font-weight: 600;
            }
            a{
                font-size: 14px;
                text-decoration: underline;
            }
        }
        .list-box {
            flex:0;
            width: 300px;
            height: 40px !important;
            background: #FFFFFF;
            border-radius: 6px;
            font-size: 16px;
            border: 0px;
            margin: 8px auto;
            font-weight: 400;

            &:hover {
                z-index: 1;
                background-color: #f8f9fa;
            }

            img{
                width:30px;
            }
        }
    }

    .hide-for-small{
        @media (max-width:768px) {
            display: none;
        }
    }

    .companyLogoImg{
        transform: translateX(-8px);
    }


}