.requestArticleBox {
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: 5px;
}

.requestArticleHeadLabel{
  color : rgba(88,88,88,1);
  font-weight: bolder;
}

.requestArticleParaLabel{
  font-size: 0.85rem;
  color : rgba(160,182,249,1);
}

.requestArticleHeader {
  color : rgba(0,44,137,1);
  font-weight: bolder;
}